
.nav-link:focus, .navbar-brand:focus{
    outline: 3px solid #030000; 
    outline-offset: 2px; 
    border-radius: 50px;
  }
  
 
.nav-link:hover, .navbar-brand:focus {
    transform: scale(1.05); 
    transition: all 0.3s ease-in-out; 
    background-color: black; 
    color: white; 
    border-radius: 50px;
  }
  