<nav class="navbar navbar-expand bg-body-tertiary">
    <div class="container">
      <a class="navbar-brand" routerLink="/">
        <img class="d-inline-block align-top"
          src="../../assets/FM.png" width="30" height="30"  alt="Letters F and M as a Logo"/>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarScroll">
        <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
            <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/assets">Assets</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/dashboard">Dashboard</a>
          </li>
        </ul>
      </div>
    </div>
</nav>

