.btn-success:hover {
    background-color: green  !important; /* Darker green */
    color: white !important;
    transform: scale(1.05); /* Slight zoom effect */
    transition: all 0.3s ease-in-out;
  }

  .testimonials-section {
    padding-bottom: 80px; /* Adjust this value as needed */
  }