.btn-success:hover {
    background-color: green  !important; 
    color: white !important;
    transform: scale(1.05); 
    transition: all 0.3s ease-in-out;
  }

  .testimonials-section {
    padding-bottom: 80px; 
  }