<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Assets</title>
  </head>
  <div class="container-xxl mt-5 ">
    <h3>All Assets</h3>
    <input placeholder="filter" type="text" [formControl]="search" />
    <p></p>

    <button (click)="reloadData()" class="btn btn-primary mb-3">
      Reload Data
    </button>
  
    <div class="table-responsive">
      <table class="table table-striped table-hover" style="min-width: 1000px;">
        <thead class="table-dark">
          <tr>
            <th scope="col" class="col">Row</th>
            <th scope="col" class="col">ID</th>
            <th scope="col" class="col">Asset</th>
            <th scope="col" class="col">Category</th>
            <th scope="col" class="col">Current Value</th>
            <th scope="col" class="col">Purchase Price</th>
            <th scope="col" class="col">ROI</th>
            <th scope="col" class="col">Location</th>
            <th scope="col" class="col">Purchase Date</th>
            <th scope="col" class="col">Action</th>
          </tr>
        </thead>
        <tbody>
            <tr *ngFor="let a of filteredAssets; let i=index;">
              <td>{{ i+1 }}</td>
              <td>{{ a.id }}</td>
              <td>{{ a.asset }}</td>
              <td>{{ a.category }}</td>
              <td>{{ a.current_value }}</td>
              <td>{{ a.purchase_price }}</td>
              <td>{{ a.roi }}</td>
              <td>{{ a.location }}</td>
              <td>{{ a.purchase_date | date:'dd-MM-yyyy'}}</td>
              <td class="text-nowrap">
                <a [routerLink]="['/assets', a.id]" class="me-2">
                  <i class="bi bi-pencil-square text-primary"></i>
                </a>
                <i (click)="delete(a.id)" class="bi bi-trash text-danger" style="cursor: pointer;"></i>
              </td>  
            </tr>
          </tbody>
        </table>
    </div>
  </div>
  