canvas {
    width: 100%;
    max-width: 500px;  
    height: auto;      
    max-height: 500px; 
    display: block;
    margin: 0 auto;
  }
  
  /* Line Chart Styling */
.line-chart-container {
    width: 48%; /* Adjust width as needed */
    height: 500px; /* Makes it bigger */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  
  