
<div #dashboardContent> 
  <button (click)="downloadDashboard()" class="download-btn">Download Dashboard as PDF</button>


<div class="charts-container">
  <div *ngIf="categoryDistribution.length > 0" class="pie-chart-container">
    <div style="display: block;">
      <canvas
        baseChart
        [datasets]="[{ data: pieChartData }]"
        [labels]="pieChartLabels"
        [type]="pieChartType"
        [options]="pieChartOptions">
      </canvas>
    </div>
  </div>

  <div class="line-chart-container">
    <canvas #lineChartCanvas></canvas>
  </div>
</div>

<div class="polar-bubble-container">
  <div class="chart-container">
    <canvas #polarChartCanvas></canvas>
  </div>

  <div class="bubble-chart-container">
    <canvas #bubbleChartCanvas></canvas>
  </div>
</div>


  <div *ngIf="categoryDistribution.length === 0">
    <p>Loading data...</p>
  </div>
</div>