<div class="container my-5">
  <div class="card">
    <div class="card-body">
      <h1 class="display-4 text-center">
        <i class="bi bi-graph-up-arrow"></i> Dashboard
      </h1>
      <hr style="width: 50%; margin: auto;">
      <p class="text-center">Explore your Asset Insights and Growth</p>
    </div>
  </div>


<div #dashboardContent> 
  <div class="d-flex justify-content-end mt-3 me-3"><button (click)="downloadDashboard()" class="btn btn-success btn-lg">Download PDF</button></div>
  


<div class="charts-container">
  <div *ngIf="categoryDistribution.length > 0" class="pie-chart-container">
    <div style="display: block;">
      <canvas
        baseChart
        [datasets]="[{ data: pieChartData }]"
        [labels]="pieChartLabels"
        [type]="pieChartType"
        [options]="pieChartOptions">
      </canvas>
    </div>
  </div>

  <div class="line-chart-container">
    <canvas #lineChartCanvas></canvas>
  </div>
</div>

<div class="polar-bubble-container">
  <div class="chart-container">
    <canvas #polarChartCanvas></canvas>
  </div>

  <div class="bubble-chart-container">
    <canvas #bubbleChartCanvas></canvas>
  </div>
</div>


  <div *ngIf="categoryDistribution.length === 0">
    <p>Loading data...</p>
  </div>
</div>